//- mixin para titular en index
mixin titular-principal(titular)
	h1.t-= titular
//-mixin para todas las paginas solo enviando la url
mixin imagen(url)
	img.img-responsive(src= url)
//- mixin para crear una columna con 
mixin background-image(col,url,noticia)
	div(class= col)
		h4= noticia
//- mixin para divison-seccion
mixin divisor-seccion(titulo)
	br
	h3.text-center= titulo
//- mixin para home-columnista
mixin home-columnista(url,columnista,titulo)
	li
		.div.text-center
			image.img-responsive(src= url)
			p= columnista
			h5= titulo
//-mixin header-lista(item)
//-	ul.list-unstyled 
//-		each val in [item]
//-			li
//-	
			a(href="#")= val
//- mixin home-especiales
mixin home-especiales(col,titulo, url, subtitulo,comentario)
	li
		.home-col
			h4.t-rojo.text-center= titulo
			img.img-responsive(src= url)
			h5= subtitulo
			p.text-11= comentario
//- mixin suscripcion 
mixin home-suscripcion(url,titulo)
	img.img-responsive(src= url)
	.text-center
mixin list-input-radio(type,args,ejemplo)
	.row
		.col-md-6
			p
				input(type= type)
				!= args.radiolabel
		.col-md-6.right
			p.text-10
				span (Ej:
				span= ejemplo
				span )
mixin li-a-img(tema,imagen,tam)
	li
		a.text-10(href="#")= tema
			img.tam(src= imagen)

mixin li-span(span, color)
	li
		a(href="#")&attributes(attributes)
			span(class= span, class= color)

mixin header-lista(item)
	li
		a.font-weight-bold(href="#")= item
mixin header-editorial(titulo,subtitulo)
	.header-editorial.text-center.mgt-5
		p.bg-rojiso.t-oswald.font-weight-bold.position-relative.mgt-2.pd-1.text-11.inline.mgt-2(class= 'color-blanco')= titulo
		p.t-pt-sans.t-negro.text-11.pd-1= subtitulo
mixin autor(titulo,nombreautor)
	.autor.inline-block.text-center
		p.t-tp-sans.text-11= titulo
		p.t-tp-sans.font-style-italic.text-11= 'por:' + nombreautor
//- mixin para generar los articulos de seccion blog y columnistas
mixin seccion(seccion,descripcion)
	h1=seccion
	a.t-plomo.t-oswald(href="#")=descripcion
		i.t-rojo.fa.fa-angle-double-down
mixin seccion-descripcion(descripcion)
	a.t-plomo.t-oswald(href="#")=descripcion
		i.t-rojo.fa.fa-angle-double-down
mixin articulo(fecha,titulo,url,subtitulo,adelanto)
	li
		.row.art
			.row.fecha.text-center
				p.text-10=fecha
				a(href="#")
					h4=titulo
			.row.autor
				.col-xs-5
					+imagen(url)
				.col-xs-7
					a(href="#")
						h5=subtitulo
					p.text-10=adelanto
//- mixin para seccion columnista
mixin columnista(url,nombre,frase)
	li
		.row.columnista
			.col-xs-5
				+imagen(url)
			.col-xs-7
				a(href="#")
					h4=nombre
				p=frase
//- mixin ultimas noticias home
mixin ultimas-noticias(fecha,titulo,url,texto,numcomentarios,tipo)
	li.ultima-noticia.borde-inf
		p.text-10=fecha
		a(href="#")
			h3=titulo
		.row
			.col-sm-4
				+imagen(url)
			.col-sm-8
				a(href="#")
					p=texto
				ul.list-unstyled.list-inline
					+li-a-img('','../image/sprites/ico-facebook.png','tam-1')
					+li-a-img('','../image/sprites/ico-twitter.png','tam-1')
					+li-a-img('','../image/sprites/ico-google-plus.png','tam-1')
					+li-a-img('','../image/bullet.gif')
					+li-a-img(numcomentarios ,'../image/ico_comment.png')
					+li-a-img('','../image/bullet.gif')
					+li-a-img(tipo,'')
					+li-a-img('','../image/bullet.gif')
					+li-span('fa fa-youtube-play')
//- mixin para los articulos de la columna derecha
mixin art(url,contenido)
	li
		.row.pd-medio
			.col-xs-5
				+imagen(url)
			.col-xs-7
				a
					p.text-10=contenido
mixin imagen-capa(url,texto)
	.div.especiales
		+imagen(url)
		.div.capa
			a.text-10(href="#")=texto
//-edicion impresa
mixin edicion-impresa(url,nombre,texto)
	li
		.row.pd-medio.impreso
			.col-xs-5
				+imagen(url)
			.col-xs-7
				a.t.negro(href="#")=nombre
				br
				a.t-rojo(href="#")=texto
//- MIXIN BLOGUEROS
mixin blogueros(url,nombre,texto)
	li
		.row.pd-medio.bloguer
			.col-xs-3
				+imagen(url)
			.col-xs-9
				a.text-10(href="#")=nombre
				br
				a(href="#")=texto
//-mixin para reportero ciudadano
mixin reportero-ciudadano(url,titulo,texto)
	.div
		+imagen(url)
		h4=titulo
		p=texto
//- mixin  pregunta del dia
mixin pregunta-hoy(pregunta)
	.div.pregunta-dia
		h3 La pregunta de Hoy
		p= pregunta
		+input-radio( 'radio',{radiolabel: 'Si'})
		+input-radio( 'radio',{radiolabel: 'No'})
		.div.text-center
			a.btn-rojo.mg-medio(href="#") VOTAR
		.div.text-center
			a.t-rojo(href="#") Ver los resultados
//- mixin  pregunta de ayer
mixin pregunta-ayer(pregunta,num1,num2)
	.div.pregunta-dia
		h4 La pregunta de Ayer
		p= pregunta
		.div.progress
			.div(class='progress-bar progress-bar-success' role='progressbar' aria-valuenow='60' aria-valuemin='0' aria-valuemax='100' style='width: 55%') 55%
		.div.progress
			.div(class='progress-bar progress-bar-warning' role='progressbar' aria-valuenow='60' aria-valuemin='0' aria-valuemax='100' style='width: 25%') 25%
			
		.div.text-center
			a.t-rojo(href='#') Ver preguntas pasadas

mixin input-radio(type,args)
	.div.text-center
		p
			input(type= type)
			!= args.radiolabel
