//-mixin para todas las paginas solo enviando la url
mixin imagen(url)
	img.img-responsive(src= url)

//-mixin header-lista(item)
//-	ul.list-unstyled 
//-		each val in [item]
//-			li
//-	
			a(href="#")= val
mixin li-a-img(tema,imagen)
	li
		a(href="#")= tema
			img(src= imagen)
mixin li-span(span)
	li
		a(href="#") 
			span(class= span)
mixin header-lista(item)
	li
		a(href="#")= item
mixin header-editorial(titulo,subtitulo)
	.div
		h4= titulo
		p= subtitulo
mixin autor(titulo,nombreautor)
	.div
		h4= titulo
		p= 'por:' + nombreautor