//-mixin para todas las paginas solo enviando la url
mixin imagen(url)
	img.img-responsive(src= url)

//-mixin header-lista(item)
//-	ul.list-unstyled 
//-		each val in [item]
//-			li
//-	
			a(href="#")= val
mixin li-a-img(tema,imagen)
	li
		a(href="#")= tema
			img(src= imagen)
mixin li-span(span)
	li
		a(href="#") 
			span(class= span)
mixin header-lista(item)
	li
		a(href="#")= item
mixin header-editorial(titulo,subtitulo)
	.div
		h4= titulo
		p= subtitulo
mixin autor(titulo,nombreautor)
	.div
		h4= titulo
		p= 'por:' + nombreautor
mixin seccion(seccion,descripcion)
	h1=seccion
	a(href="#")=descripcion
		i.fa.fa-angle-double-down
mixin articulo(fecha,titulo,url,subtitulo,adelanto)
	li
		.row.art
			.row.fecha.text-center
				p.text-10=fecha
				a(href="#")
					h4=titulo
			.row.autor
				.col-xs-4
					img.img-responsive(src= url)
				.col-xs-8
					a(href="#")
						h5=subtitulo
					p.text-10=adelanto
