//-mixin para todas las paginas solo enviando la url
mixin imagen(url)
	img.img-responsive(src= url)

//-mixin header-lista(item)
//-	ul.list-unstyled 
//-		each val in [item]
//-			li
//-	
			a(href="#")= val
mixin list-input-radio(type,args,ejemplo)
	p
		input(type= type)
		!= args.radiolabel
		span (Ej:
		span= ejemplo
		span )
mixin li-a-img(tema,imagen)
	li
		a(href="#")= tema
			img(src= imagen)
mixin li-span(span)
	li
		a(href="#") 
			span(class= span)
mixin header-lista(item)
	li
		a(href="#")= item
mixin header-editorial(titulo,subtitulo)
	.div
		h4= titulo
		p= subtitulo
mixin autor(titulo,nombreautor)
	.div
		h4= titulo
		p= 'por:' + nombreautor
//- mixin para generar los articulos de seccion blog y columnistas
mixin seccion(seccion,descripcion)
	h1=seccion
	a(href="#")=descripcion
		i.t-rojo.fa.fa-angle-double-down
mixin seccion-descripcion(descripcion)
	a.t-plomo(href="#")=descripcion
		i.t-rojo.fa.fa-angle-double-down
mixin articulo(fecha,titulo,url,subtitulo,adelanto)
	li
		.row.art
			.row.fecha.text-center
				p.text-10=fecha
				a(href="#")
					h4=titulo
			.row.autor
				.col-xs-5
					img.img-responsive(src= url)
				.col-xs-7
					a(href="#")
						h5=subtitulo
					p.text-10=adelanto
//- mixin para seccion columnista
mixin columnista(url,nombre,frase)
	li
		.row.columnista
			.col-xs-4
				img.img-responsive(src= url)
			.col-xs-7
				a(href="#")
					h4=nombre
				p=frase